body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}
h1 {
  color: #162156;
  text-align: center;
}
.container, p {
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.button {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #162156;
  border-radius: 6px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}
.footer {
  margin-top: 30px;
  font-size: 12px;
  color: #888888;
  text-align: center;
}

@media (max-width: 500px) {
  .container {
    padding: 15px;
  }
  .button {
    font-size: 20px;
    padding: 12px 20px;
  }
}
